body{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    margin :0;
    background-color:#f0f2f5;
}
.light-box{
    width:100px;
    height:280px;
    background-color: black;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:10px  0;
}
.circle{
    width:70px;
    height:70px;
    border-radius:50%;
}

.red{ background-color:red;}
.yellow{background-color: yellow;}
.green{background-color: green;}